body{
	font-family:Trebuchet MS;

	background-color: #F5F5F5;
	/*background-color:cyan*/
	text-align:center;


	
}
h1{
	color:green;
	font-size:3em;
}
.special{
	color: aquamarine;
	font-size:4em;
	text-align:center;
}
.title{
	color:#458B74;
}
h2{
	color:green;
	font-size:2em;
	text-align:center
}
div{
	background-color:aquamarine;
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
	width:350px;
	padding:20px;
	margin:auto;
	
}

.centerImage{
	text-align:center;
	display:block;
}