/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
:root {
	--main-highlight: #3B7D65;
}
@media (prefers-color-scheme: dark) {
		body{
			color:white;
			background-color:black!important;
		}
		:root{
			--main-highlight: #64d1a9;
		}
		#socials svg{
			fill:white;
		}
		footer{
			color:black!important;
		}
		a.nav-link{
			color:black!important;
		}

}

  
body{
	font-family:"Trebuchet MS",sans-serif;
	
	
	/*background-color:cyan*/
	/* text-align:center; */
	/* background-image: url('http://preview.ibb.co/cmeoan/IMG_9253.jpg'); */

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
p{
	margin:auto;
	/* width:45%; */
	font-size:1.5em;

}
h1{
	
	font-size:4em; /*sizing*/
}
h2{
	font-size:2em;
	
}
.navbar, footer{
	background-color: var(--main-highlight);
	color: white;
}
a.nav-link{
	color:white;
}

/* 
Removed the following, bolded text was being interpreted as links

strong{
	
	color:var(--main-highlight);

} */



/* Homepage styles */
h2.project-titles{

	color:var(--main-highlight);
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}
/* Project page styles */
.project-row{
	padding:20px 0;
}
.project-button{
	border-radius:10px;
	padding:10px 30px;
	background-color:var(--main-highlight);
	color:white;
	font-weight:bold;
	border:0;
	margin:20px 0;
}


.parallax {
    /* The image used */
    background-image: url('http://preview.ibb.co/cmeoan/IMG_9253.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#myName{
	color:var(--main-highlight);
}





/* Utilities */
.centerImage{
	text-align:center;
	display:block;
}
.myCenter{
	text-align:center;
}


@media only screen and (min-width:770px){
	#mobile-resume-link{
		display:none;
		text-align:center;
	}
}
@media only screen and (max-width:769px){
	p{
		font-size:1.2em;
	}
	#mobile-resume-link{
		display:block;
		text-align:center;

	}
	#resume-accordion{
		display:none;
	}
}
