body{
	font-family:Trebuchet MS;
	background-color:cyan;
}
h1{
	color:blue;
	font-size:3em;
}
h2{
	color:green;
	font-size:2em;
}
div{
	background-color:aquamarine;
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
}
.centerImage{
	text-align:center;
	display:block;
}