body{
	font-family:Trebuchet MS;
<<<<<<< HEAD
	background-color: #F5F5F5;
	/*background-color:cyan*/
=======
	background-color:cyan;
>>>>>>> parent of 8f537e6... grey alternative
	
}
h1{
	color:blue;
	font-size:3em;
}
.special{
	color: aquamarine;
	font-size:4em;
	text-align:center;
}
h2{
	color:aquamarine;
	font-size:2em;
	text-align:center
}
div{
	background-color:aquamarine;
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
	width:500px;
	text-align:center;
}
li{
	text-align:center;
}
.centerImage{
	text-align:center;
	display:block;
}