/*portfolio_site_style.css*/
body{
	font-family:"Trebuchet MS";
	
	
	/*background-color:cyan*/
	/* text-align:center; */
	/* background-image: url('http://preview.ibb.co/cmeoan/IMG_9253.jpg'); */

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
	
	font-size:4em; /*sizing*/
}
h2{
	color:#6CBA99;
	font-size:2em;
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}
footer{
	background-color: #6CBA99;
	color: white;
}

strong{
	
	color:#76CCA8;
}

.myCenter{
	text-align:center;
}
.parallax {
    /* The image used */
    background-image: url('http://preview.ibb.co/cmeoan/IMG_9253.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.special{
	color: aquamarine;
	font-size:4em;
	text-align:center;
}
.title{
	color:#6CBA99;
}
.topnav{
	background-color: rgba(0,0,0,0);
	
	box-shadow: none;
	padding:15px;
	border-style:solid;
	border-width:1px;
	border-bottom-color:green;
	border-top-color:green;
	border-left-color:rgba(0,0,0,0);
	border-right-color:rgba(0,0,0,0);
}


.maindiv{
	background-color:#A4EBFD;
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
	width:350px;
	padding:10px;
	margin:auto;
	
}
.bgdiv{
	
	background: rgba(245,245,245,0.7);
}


.centerImage{
	text-align:center;
	display:block;
}

#my_desc{
	margin:auto;
	/* width:45%; */
	font-size:1.5em;

}
.smallText{
	font-size:0.8em;
}


/* @media (max-width:575.98px){
	#my_desc{
		margin:auto;
		width:75%;
		font-size:1.5em;
	}
} */
