body{
	font-family:Trebuchet MS;
	background-color:#F5F5F5;
	/*background-color:cyan*/
	
}
h1{
	color:blue;
	font-size:3em;
}
.special{
	color: aquamarine;
	font-size:4em;
	text-align:center;
}
h2{
	color:green;
	font-size:2em;
}
div{
	background-color:aquamarine;
	border-radius:15px;
	box-shadow: 5px 5px 5px #888888;
	width:500px;
}
.centerImage{
	text-align:center;
	display:block;
}